.pagination {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .pageNumbers {
    list-style: none;
    display: flex;
  }
  
  .pageNumbers li {
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .pageNumbers li.active {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .pageNumbers li button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .pageNumbers li button:hover {
    background-color: white;
    color: black;
  }
  .pageNumbers li button:focus {
    outline: none;
  }
  
  .loadmore {
    padding: 1rem;
    background-color: transparent;
  
    color: white;
    font-size: 1.2rem;
    border: 1px solid white;
    cursor: pointer;
  }